[submodule "third_party/arrow"]
	path = third_party/arrow
	url = https://github.com/apache/arrow.git
[submodule "third_party/rapidjson"]
	path = third_party/rapidjson
	url = https://github.com/Tencent/rapidjson.git
